<!-- Top navigation -->
<div class="container navbar-border">
  <nav class="navbar">
    <div class="row">
      <div class="col-9 navbartext zero-padding">
        <a href='http://www.unmas.org.s3-website.us-east-2.amazonaws.com/'>
          <img src="../assets/images/UNMAS20.png" alt="">
        </a> United Nation Mine Action Service (UNMAS)

      </div>

      <div class="col-3" style="text-align: right; background-color:lightgreen;">
          Welcome {{UserName}}  <a style="text-decoration: underline; cursor:pointer;color: red;" (click)="signOut()"><h6> Log Out </h6></a>                     
      </div>

    </div>
  </nav>
</div>