<!DOCTYPE html>
<html>

<head>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
  <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.12/angular.js" data-semver="1.4.9"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <!-- Navigation -->
  <navbar></navbar>
  <!-- Page Content -->
  <!-- Heading Row -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="row display-flex">
          <div class="col-md-2 right-margin">
            <!--Left Navigation-->
            <left-nav></left-nav>
          </div>
          <!--col-sm-2-->
          <div class="col-sm-12 col-md-10 " style="min-height:525px">
            <div class="row" style="padding-left:15px;padding-top:10px">
              <h6 class="heading-text"> Dashboard </h6>
            </div>
            <!--/.com-sm-10-->
            <div class="row" style="padding-left:15px;padding-bottom:15px;">
              <div class="col-sm-12 col-md-12 panelbg" style="padding-left:10px;padding-top:15px">
                <div class="row" style="padding-top:10px;">
                  <div class="col" style="padding-top:10px;">
                    <h6 class="body-text">
                      <b>Training: </b>
                    </h6>
                  </div>
                  <div class="col">
                    <select id="Id" class="hideLabel form-control" name="Id">
                      <option selected="true" value="1">--Select--</option> 
                      <option value="2">Landmine and Explosive Remnants of War</option>                    
                    </select>
                  </div>
                  <div class="col"></div>
                </div>
                <div class="row" style="padding-top:10px;">
                  <div class="col" style="padding-top:10px;">
                    <h6 class="body-text">
                      <b>Training Programme Name: </b>
                    </h6>
                  </div>
                  <div class="col">
                    <input class="form-control" id="program" style="width:100%" type="text" [(ngModel)]="programname" required>
                  </div>
                  <div class="col"></div>
                </div>
                <div class="row" style="padding-top:10px;">
                  <div class="col" style="padding-top:10px;">
                    <h6 class="body-text">
                      <b>Start Date:</b>
                    </h6>
                  </div>
                  <div class="col">

                    <input class="form-control" id="startdt" style="width:100%" type="text" [(ngModel)]="startdate" required>

                  </div>
                  <div class="col"></div>
                </div>

                <div class="row" style="padding-top:10px;">
                  <div class="col" style="padding-top:10px;">
                    <h6 class="body-text">
                      <b>End Date:</b>
                    </h6>
                  </div>
                  <div class="col">

                    <input class="form-control" id="enddt" style="width:100%" type="text" [(ngModel)]="enddate" required>

                  </div>
                  <div class="col"></div>
                </div>
                <div class="row" style="padding-top:10px;">
                  <div class="col" style="padding-top:10px;">
                    <h6 class="body-text">
                      <b> Manager Name</b>
                    </h6>
                  </div>
                  <div class="col">

                    <input class="form-control" id="name" style="width:100%" type="text" [(ngModel)]="managername" required>

                  </div>
                  <div class="col"></div>
                </div>

                <div class="row" style="padding-top:10px;">
                  <div class="col" style="padding-top:10px;">
                    <h6 class="body-text">
                      <b> Email :</b>
                    </h6>
                  </div>
                  <div class="col">

                    <input class="form-control" id="email" type="text" style="width:100%" [(ngModel)]="manageremail" required>


                  </div>
                  <div class="col"></div>
                </div>

                <div class="row">
                  <div class="col-sm-12 col-md-12 body-text" style="padding-top:20px;float:left">
                    <!-- <input type="checkbox" id="notifychkbox" [(ngModel)]="checkboxValue" name="checkboxValue"> &nbsp; Notify newly added Students -->
                  </div>
                </div>

                <div class="row" style="padding-top:10px;">
                  <div class="col">
                    <button class="submit-btn-style body-text" style="float:left; width: 100%;" type="submit" (click)="Save()">
                      <h6> Save </h6>
                    </button>
                  </div>
                  <div class="col">
                    <button (click)="onCancel()" class="cancel-btn-style body-text" style="float:left; width: 100%;">
                      <h6> Cancel </h6>
                    </button>
                  </div>
                  <div class="col"></div>
                </div>

                <div class="row" style="text-align:right;padding-bottom:50px">
                  <span style="padding-right:5px; color: green;" *ngIf="isSaved">
                    Manager added successfully!
                  </span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <!--/.container-->
    <!--footer-->
    <footer>
      <myfooter></myfooter>
    </footer>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
  </div>
</body>