<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head> 
<body>
  <!-- Navigation -->
  <navbar></navbar>
  <!-- Page Content -->
  <!-- Heading Row -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row display-flex">
          <div class="col-md-2 right-margin">
            <!--Left Navigation-->
            <left-nav></left-nav>
          </div>
          <!--col-sm-2-->
          <div class="col-sm-9 col-md-10" style="min-height:525px">
          <div  *ngIf="show=='all-trainings' then template1;">
          </div>
          <div  *ngIf="show=='training-program' then template2;">
          </div>
          <!--  Show Template 1 if user clicks on All Trainings -->
          <ng-template #template1>
          <div class="row" style="padding-left:15px;padding-top:10px">
              <h6 class="heading-text"> All Training Programmes </h6>
            </div>
            <!--/.com-sm-10-->
            <div class="container" *ngFor="let training of Trainings">
            <div class="row" style="padding-bottom:50px">
              <div class="col-sm-12 col-md-12 col-lg-12 panelbg zero-padding">
              <div class="row">
                <div class=" col-sm-2 col-md-1 col-lg-1">
                  <img src="{{training.thumbnailsrc}}" alt="" class="thumbnail-align"> </div>
                <div class="col-sm-6 col-md-5 col-lg-6 panel-margin">
                  <h6 class="heading-text image-align zero-padding"> {{training.title}}</h6>
                  <div class="body-text"> Training: {{training.trainingName}}
                    <br> Scheduled Date: {{training.trainingFromDate}} - {{training.trainingToDate}} </div>
                </div>
                <div class="col-sm-8 col-md-5 col-lg-4 panel-margin image-align" style="padding-top:10px;padding-right:30px">
                  <div>
                    <button type="button" class="btn btn-sm button-show-style" style="float:left" (click)="onShowDetails(training.trainingName,training.id)">
                      <h4 class="body-text" style="color:white"> Show
                        <br> Details </h4>
                    </button>
                  
                    <button type="button" class="btn btn-sm button-view-style" style="float:right;">
                      <h4 class="body-text" style="color:white"> View
                        <br> Students </h4>
                    </button>
                  </div>
                </div>
              </div>
              </div>
            </div>
            </div>
          </ng-template>
          <!--  Show Template 2 if user clicks on a particular Training -->
          <ng-template #template2>
            <div class="row  panel-margin" style="padding-top:10px">
              <h6 class="heading-text"> UN SaferGuard on the IATG, Libya, Dec
                <br><span style="padding-left:40px">- &gt; {{trainingname}}</span> </h6>
            </div>
            <!--/.com-sm-10-->
            <div class="row panel-margin">
              <div class="col-sm-12 col-md-12 panelbg zero-padding">
              <div class="row">
                <div class=" col-sm-2 col-md-1 col-lg-1">
                  <img src="../assets/images/thumbnail.jpg" alt="" class="thumbnail-align"> </div>
                <div class="col-sm-8 col-md-6 col-lg-7 panel-margin">
                  <h6 class="heading-text image-align zero-padding">Courses (Total:{{coursecount}})</h6>
                  <div class="body-text"> Created By: UNMAS, Libya
                    <br> Scheduled Date: Nov-23-2016 </div>
                </div>
                <div class="col-sm-5 col-md-4 col-lg-3 panel-margin image-align" style="padding-top:10px;padding-right:30px">
                  <div>
                 	<a [routerLink]="['course']">
                    <button type="button" class="btn btn-sm button-view-style show-detail-size">
                      <h4 class="body-text" style="color:white"> Show all
                        <br> Courses </h4>
                    </button>
                    </a>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="row panel-margin" style="padding-top:20px">
              <div class="col-sm-12 col-md-12 panelbg zero-padding">
              <div class="row">
                <div class="col-sm-2 col-md-1 col-lg-1">
                  <img src="../assets/images/thumbnail.jpg" alt="" class="thumbnail-align"> </div>
                <div class="col-sm-8 col-md-6 col-lg-7 panel-margin">
                  <h6 class="heading-text image-align zero-padding">Final Exam/Test</h6>
                  <div class="body-text"> Created By: UNMAS, Libya
                    <br> Scheduled Date: Nov-23-2016 </div>
                </div>
                <div class="col-sm-5 col-md-4 col-lg-3 panel-margin image-align" style="padding-top:10px;padding-right:30px">
                  <div>
                    <button type="button" class="btn btn-sm button-view-style show-detail-size">
                      <h4 class="body-text" style="color:white"> Show more
                        <br> Details </h4>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <div class="row panel-margin" style="padding-top:20px">
              <div class="col-sm-12 col-md-12 panelbg zero-padding">
                <div class="row">
                <div class="col-sm-2 col-md-1 col-lg-1">
                  <img src="../assets/images/thumbnail.jpg" alt="" class="thumbnail-align"> </div>
                <div class="col-sm-8 col-md-6 col-lg-7 panel-margin">
                  <h6 class="heading-text image-align zero-padding">Final Quiz</h6>
                  <div class="body-text"> Created By: UNMAS, Libya
                    <br> Scheduled Date: Nov-23-2016 </div>
                </div>
                <div class="col-sm-5 col-md-4 col-lg-3 panel-margin image-align" style="padding-top:10px;padding-right:30px;padding-bottom:20px">
                  <div>
                    <button type="button" class="btn btn-sm button-view-style show-detail-size">
                      <h4 class="body-text" style="color:white"> Show more
                        <br> Details </h4>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            </div>              
          </ng-template>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <!--/.container-->
    <!--footer-->
    <footer>
     <myfooter></myfooter>
    </footer>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
  </div>
</body>
</html>
