<!DOCTYPE html>
<html>

<head>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
  <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.12/angular.js" data-semver="1.4.9"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <!-- Navigation -->
  <navbar></navbar>
  <!-- Page Content -->
  <!-- Heading Row -->
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="row display-flex">
          <div class="col-md-2 right-margin">
            <!--Left Navigation-->
            <left-nav></left-nav>
          </div>
          <!--col-sm-2-->
          <div class="col-sm-12 col-md-10 " style="min-height:525px">
            <div class="row" style="padding-left:15px;padding-top:10px">
              <h6 class="heading-text"> Dashboard </h6>
            </div>
            <!--/.com-sm-10-->

            <div class="row" style="padding-left:15px;padding-bottom:15px;">
              <div class="col-sm-12 col-md-12 panelbg" style="padding-left:10px;padding-top:15px">
                <div class="row" style="padding-top:10px;">
                  <div class="col-md-5" style="padding-top:10px;">
                    <h6 class="body-text">
                     <span style="color: red;"><b>sample charts..</b></span> 
                    </h6>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6" style="margin-bottom:15px">
                  <div class="panelbg image-align">
                    <h4 class="body-text">
                      <b> Courses/Training Programs </b>
                    </h4>
                    <div style="display: block" style="height:30%">
                      <canvas *ngIf="doughnutChartData" baseChart [data]="doughnutChartData" width="300" height="200" [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType" [options]="doughnutChartOptions" (chartClick)="chartClicked($event)">
                      </canvas>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-sm-6" style="margin-bottom:15px">
                  <div class=" image-align panelbg" style="height:100%">
                    <h4 class="body-text">
                      <b> Students Count </b>
                    </h4>
                    <div style="display: block" style="height:30%">
                      <canvas #studbaseChart="base-chart" *ngIf="studbarChartData" baseChart [datasets]="studbarChartData" width="300" height="200"
                        [labels]="studbarChartLabels" [options]="studbarChartOptions" [legend]="studbarChartLegend" [chartType]="studbarChartType">
                      </canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12" style="margin-bottom:15px">
                  <div class="image-align panelbg" style="height:100%">
                    <h4 class="body-text">
                      <b> Students Enrollment and Certification</b>
                    </h4>
                    <div style="display: block" style="height:30%">
                      <canvas #statusbaseChart="base-chart" *ngIf="statusbarChartData" baseChart [datasets]="statusbarChartData" width="600" height="200"
                        [labels]="statusbarChartLabels" [options]="statusbarChartOptions" [legend]="statusbarChartLegend" [chartType]="statusbarChartType">
                      </canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <!--/.container-->
  <!--footer-->
  <footer>
    <myfooter></myfooter>
  </footer>
  <!-- /.container -->
  <!-- jQuery -->
  <script src="js/jquery.js"></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

</body>